<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index-style.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <title>Zarządzanie projektami</title>
</head>
<body>
<div id="container">
    <div class="text__wrapper">
        <div class="heading">
            <img src="https://i.imgur.com/syPNg3Z.png" alt="logo">
        </div>
    </div>
    <div class="form__wrapper">
        <form class="form">
            <div>
                <input type="text" name="Email" id="Email" placeholder="Email">
            </div>
            <div>
                <input type="password" name="Password" id="Password" placeholder="Hasło">
            </div>
            <div>
                <button type="submit" class="loginButton btn"><a th:href="@{/projektList}">Zaloguj się</a></button>
            </div>
        </form>
        <a th:href="@{/forgot-password}" class="forgotPassword">Zapomniałem(am) hasła</a>
        <button type="submit" class="registerButton btn"><a th:href="@{/signup}">Zarejestruj się</a></button>
    </div>
</div>
</body>
</html>