<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<link th:href="@{/css/index-style.css}" rel="stylesheet" />
</head>
 <body>
 <div id="container">
		 <div class="heading">
			 <img src="https://i.imgur.com/syPNg3Z.png" alt="logo">
		 </div>
	<div class="form__wrapper">
		<form action="#" th:action="@{/app/login}" th:object="${credentials}"
			method="POST"
			autocomplete="off"
			class="form">
			<div class="err" th:if="${#fields.hasErrors('*')}">
				BŁĘDY:
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Wprowadzone dane są niepoprawne!</li>
				</ul>
			</div>
					<label for="email" class="lbl">E-mail:</label> <input
						th:field="*{email}" class="fld"
						th:class="${#fields.hasErrors('email')}? 'err' : 'fld'" size="75" />
					<span class="err" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}">Error</span>
				<div>
					<label for="password" class="lbl">Hasło:</label>
					<input th:field="*{password}" class="fld" type="password"
						th:class="${#fields.hasErrors('password')}? 'err' : 'fld'" size="75" />
					<span class="err" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}">Error</span>
				</div>
					<button class="loginButton btn" type="submit" name="login" value="Zaloguj">Zaloguj</button>
					<button type="submit" class="registerButton btn"><a th:href="@{/app/register}">Zarejestruj się</a></button>

		</form>
	</div>
 </div>
 </body>
</html>