<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/list-style.css}" rel="stylesheet" />
        <title>Lista projektów</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><b>Lista projektów</b></li>
                <li><a th:href="@{/projektEdit}">Dodaj projekt</a></li>
                <li><a th:href="@{/studentList}">Lista studentów</a></li>
                <li><a th:href="@{/zadanieList}">Lista zadań</a></li>
                <li><a th:href="@{/}"><img src="https://i.imgur.com/syPNg3Z.png" alt="logo"></a></li>
            </ul>
        </nav>
        <div class="root">
            <div class="container">
                <br>
                <form method="get" action="#" th:action="@{/projektList/search}" id="searchform">
                    <label for="snazwa" class="myText">Szukaj po nazwie projektu: </label>
                    <input type="text" id="snazwa" name="nazwa">
                    <select name="size" id="size" form="searchform">
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                    <input type="submit" class="button_edit_nav" value="Szukaj">
                    <a th:href="@{/projektList}" class="button_edit_nav">Resetuj</a><br>
                </form>
                <br>
                <table class="styled_table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Opis</th>
                            <th>Utworzony</th>
                            <th>Data oddania</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="projekt : ${projekty}">
                            <td th:text="${projekt.projektId}">Id</td>
                            <td th:text="${projekt.nazwa}">Nazwa</td>
                            <td th:text="${projekt.opis}">Opis</td>
                            <td th:text="${#temporals.format(projekt.dataCzasUtworzenia, 'yyyy-MM-dd HH:mm:ss')}">Utworzony</td>
                            <td th:text="${#temporals.format(projekt.dataOddania, 'yyyy-MM-dd')}">Data oddania</td>
                            <td>
                                <a th:href="@{/projektEdit(projektId=${projekt.projektId})}" class="button_edit">Edytuj</a><br>
                                <a th:href="@{/projektEdit(projektId=${projekt.projektId},delete='true')}" class="button_edit" >Usuń</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>