<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/edit-style.css}" rel="stylesheet" /> <!-- plik z...\resources\static\css\edit-style.css -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <title>Edycja projektu</title>
        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />

        <script>
            $(document).ready(function() {
                $('#dataOddania').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
            });
        </script>
    </head>
    <body>
        <div class="root" th:with="isDelete=${#strings.equalsIgnoreCase(param.delete,'true')}">
            <form action="#" th:action="@{/app/projektEdit}" th:object="${projekt}" method="POST"
                  th:with="akcja=*{projektId} ? (${isDelete}?'delete':'update') :'create', opis=*{projektId} ?
         (${isDelete}?'Usuń':'Aktualizuj') : 'Utwórz'" autocomplete="off">
                <nav>
                    <ul>
                        <li><b th:text="${opis} + ' projekt'">Edytuj projekt</b></li>
                        <li><a th:href="@{/app/projektList}">Lista projektów</a></li>
                        <li><a th:href="@{/app/studentList}">Lista studentów</a></li>
                        <li><a th:href="@{/app/zadanieList}">Lista zadań</a></li>
                        <li><a th:href="@{/app/files}">Do pobrania</a></li>
                        <li><a th:href="@{/app/logout}">Wyloguj się</a></li>
                        <li><a th:href="@{/}"><img src="https://i.imgur.com/syPNg3Z.png" alt="logo"></a></li>
                    </ul>
                </nav>

                <div class="container">
                    <div class="btns-panel">
                        <input class="buttons" type="submit" name="create" value="create" th:name="${akcja}" th:value="${opis}" />
                        <input class="buttons" type="submit" name="cancel" value="Anuluj" />
                    </div>

                    <div class="err" th:if="${#fields.hasErrors('*')}">
                        <br>
                        Wprowadzone dane są niepoprawne!
                    </div>
                    <br>
                    <div th:if="*{projektId}">
                        <label for="projektId" class="lbl">Id:</label>
                        <input th:field="*{projektId}" class="fld" readonly />
                    </div>
                    <div>
                        <label for="nazwa" class="lbl">Nazwa:</label>
                        <input th:field="*{nazwa}" class="fld" required="true" th:class="${#fields.hasErrors('opis')}? 'err' : 'fld'" size="45" />
                        <span class="err" th:if="${#fields.hasErrors('nazwa')}" th:errors="*{nazwa}">Error</span>
                    </div>
                    <div class="formfield">
                        <label for="opis" class="desc_label">Opis:</label>
                        <textarea class="fld" rows="3" cols="47" th:field="*{opis}">Opis</textarea>
                    </div>
                    <div>
                        <label for="dataOddania" class="lbl">Data oddania:</label>
                        <input th:field="*{dataOddania}" class="fld" type="text" size="10" required="true"/>
                    </div>
                    <div th:if="*{dataCzasUtworzenia}">
                        <label for="dataCzasUtworzenia" class="lbl">Utworzony:</label>
                        <input th:field="*{dataCzasUtworzenia}" class="fld" type="text" size="23" readonly />
                    </div>
                    <div th:if="*{dataCzasModyfikacji}">
                        <label for="dataCzasModyfikacji" class="lbl">Zmodyfikowany:</label>
                        <input th:field="*{dataCzasModyfikacji}" class="fld" type="text" size="23" readonly />
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>