<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/register-style.css}" rel="stylesheet" />
    <title>Zarządzanie projektami</title>
</head>
<body>
<div id="container">
    <div class="form__wrapper">
        <form class="form" th:action="@{/process_register}" th:object="${user}" method="post">
            <div>
                <input type="email" name="Email" id="Email" th:field="*{email}" placeholder="Email">
            </div>
            <div>
                <input type="text" name="Name" id="Name" th:field="*{firstName}" placeholder="Imię">
            </div>
            <div>
                <input type="text" name="Surname" id="Surname" th:field="*{lastName}" placeholder="Nazwisko">
            </div>
            <div>
                <input type="password" name="Password1" id="Password1" th:field="*{password}" placeholder="Hasło">
            </div>
            <div>
                <input type="password" name="Password2" id="Password2" placeholder="Powtórz Hasło">
            </div>
            <div>
                <button type="submit" class="registerButton btn">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>