<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/register-style.css}" rel="stylesheet" />
    <title>Zarządzanie projektami</title>
</head>
<body>
<div id="container">
    <div class="form__wrapper">
        <form class="form">
            <div>
                <input type="text" name="Email" id="Email" placeholder="Email">
            </div>
            <div>
                <input type="text" name="Name" id="Name" placeholder="Imię">
            </div>
            <div>
                <input type="text" name="Surname" id="Surname" placeholder="Nazwisko">
            </div>
            <div>
                <input type="password" name="Password1" id="Password1" placeholder="Hasło">
            </div>
            <div>
                <input type="password" name="Password2" id="Password2" placeholder="Powtórz Hasło">
            </div>
            <div>
                <button type="submit" class="registerButton btn"><a th:href="@{/projektList}">Zarejestruj się</a></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>