<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/list-style.css}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <title>Lista studentów</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><b>Lista Studentów</b></li>
                <li><a th:href="@{/app/projektList}">Lista projektów</a></li>
                <li><a th:href="@{/app/zadanieList}">Lista zadań</a></li>
                <li><a th:href="@{/app/doPobrania}">Do pobrania</a></li>
                <li><a th:href="@{/app/logout}">Wyloguj się</a></li>
                <li><a th:href="@{/app/projektList}"><img src="https://i.imgur.com/syPNg3Z.png" alt="logo"></a></li>
            </ul>
        </nav>
        <div class="root">
            <div id="HASH">
                <span id="time-HASH" class="time-HASH">
                     <form method="get" action="#" th:action="@{/app/studentList/search}" id="searchform">
                        <label for="nazwisko" class="myText">🔍</label>
                         <input name="order" type="hidden" th:value="${order}">
                        <input name="page" type="hidden" th:value="${page}">
                        <input th:if="${sort!=null}" name="sort" type="hidden" th:value="${sort}">
                        <input type="text" id="nazwisko" name="nazwisko" placeholder="Wpisz nazwisko...">
                        <select name="size" id="size" form="searchform">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <input type="submit" class="button_edit_nav" value="Szukaj">
                        <a th:href="@{/app/studentList}" class="button_edit_nav">Resetuj</a><br>
                    </form>
                </span>
                <span class="ios-circle">
                    <a th:href="@{/app/studentEdit}" class="button_project">Dodaj studenta</a>
                </span>
            </div>
            <div class="container">
                <table class="styled_table">
                    <thead>
                        <tr>
                            <th>
                                <a th:href="@{'/app/studentList/results?sort=studentId&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}">Id</a>
                                <a th:href="@{'/app/studentList/results?sort=studentId&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}"><img src="https://i.imgur.com/U7EG8nu.png"></a>
                            </th>
                            <th>
                                <a th:href="@{'/app/studentList/results?sort=nazwisko&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}">Nazwisko</a>
                                <a th:href="@{'/app/studentList/results?sort=nazwisko&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}"><img src="https://i.imgur.com/U7EG8nu.png"></a>
                            </th>
                            <th>
                                <a th:href="@{'/app/studentList/results?sort=imie&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}">Imię</a>
                                <a th:href="@{'/app/studentList/results?sort=imie&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}"><img src="https://i.imgur.com/U7EG8nu.png"></a>
                            </th>
                            <th>
                                <a th:href="@{'/app/studentList/results?sort=nrIndeksu&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}">Numer indeksu</a>
                                <a th:href="@{'/app/studentList/results?sort=nrIndeksu&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}"><img src="https://i.imgur.com/U7EG8nu.png"></a>
                            </th>
                            <th>
                                <a th:href="@{'/app/studentList/results?sort=email&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}">E-mail</a>
                                <a th:href="@{'/app/studentList/results?sort=email&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}"><img src="https://i.imgur.com/U7EG8nu.png"></a>
                            </th>
                            <th>
                                <a th:href="@{'/app/studentList/results?sort=stacjonarny&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}">Rodzaj studiów</a>
                                <a th:href="@{'/app/studentList/results?sort=stacjonarny&order=' + ${reverseSortDir}+'&size=' + ${size}+ '&page=' + ${page}}"><img src="https://i.imgur.com/U7EG8nu.png"></a>
                            </th>
                            <th>Edycja</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${studenci}" th:unless="${student.email == 'administrator@admin.admin'}">
                            <td th:text="${student.studentId}">Id</td>
                            <td th:text="${student.nazwisko}">Nazwisko</td>
                            <td th:text="${student.imie}">Imię</td>
                            <td th:text="${student.nrIndeksu}">Numer indeksu</td>
                            <td th:text="${student.email}">E-mail</td>
                            <td th:text="(${student.stacjonarny}) ? 'stacjonarny' : 'niestacjonarny'">Rodzaj studiów</td>
                            <td>
                                <a th:href="@{/app/studentEdit(studentId=${student.studentId})}" class="button_edit">Edytuj</a><br>
                                <a th:href="@{/app/studentEdit(studentId=${student.studentId},delete='true')}" class="button_edit" >Usuń</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br>
            <form method="get" action="#" th:action="@{/app/studentList/results}" id="previousForm">
                <input name="size" type="hidden" th:value="${size}">
                <input name="page" type="hidden" th:value="${previousPage}">
                <input name="order" type="hidden" th:value="${order}">
                <input th:if="${sort!=null}" name="sort" type="hidden" th:value="${sort}">
                <input th:if="${page>0}" type="submit" value="Poprzednia" class="button_project">
            </form>
            <form method="get" action="#" th:action="@{/app/studentList/results}" id="nextForm">
                <input name="size" type="hidden" th:value="${size}">
                <input name="order" type="hidden" th:value="${order}">
                <input name="page" type="hidden" th:value="${nextPage}">
                <input th:if="${sort!=null}" name="sort" type="hidden" th:value="${sort}">
                <input type="submit" value="Następna" class="button_project">
            </form>
        </div>
    </body>
</html>