<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/list-style.css}" rel="stylesheet" />
  <title>Lista zadań</title>
</head>
<body>
<nav>
  <ul>
    <li><b>Lista projektów</b></li>
    <li><a th:href="@{/zadanieEdit}">Dodaj zadanie</a></li>
    <li><a th:href="@{/projektList}">Lista projektów</a></li>
    <li><a th:href="@{/studentList}">Lista studentów</a></li>
    <li><a th:href="@{/}"><img src="https://i.imgur.com/syPNg3Z.png" alt="logo"></a></li>
  </ul>
</nav>
<div class="root">
  <div class="container">
    <br>
    <div class="same_row">
      <form method="get" action="#" th:action="@{/studentList/results}" id="sortform" style="margin-right: 80px">
        <select name="sort" id="sort" form="sortform">
          <option value="zadanieId">ID</option>
          <option value="nazwa">Nazwa</option>
          <option value="kolejnosc">Kolejnosc</option>
          <option value="opis">Opis</option>
          <option value="dataCzasUtworzenia">Data dodania</option>
          <option value="projektId">ID projektu</option>
        </select>
        <select name="order" id="order" form="sortform">
          <option value="asc">Rosnąco</option>
          <option value="desc">Malejąco</option>
        </select>
        <input type="submit" class="button_edit_nav" value="Sortuj">
      </form>
      <form method="get" action="#" th:action="@{/zadanieList/search}" id="searchform">
        <label for="snazwa" class="myText">Szukaj po nazwie zadania: </label>
        <input type="text" id="snazwa" name="nazwa">
        <select name="size" id="size" form="searchform">
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
        <input type="submit" class="button_edit_nav" value="Szukaj">
        <a th:href="@{/zadanieList}" class="button_edit_nav">Resetuj</a><br>
      </form>
    </div>
    <br>
    <table class="styled_table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nazwa</th>
        <th>Kolejnosc</th>
        <th>Opis</th>
        <th>Data dodania</th>
        <th>Projekt Id</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="zadanie : ${zadania}">
          <td th:text="${zadanie.zadanieId}">Id</td>
          <td th:text="${zadanie.nazwa}">Nazwa</td>
          <td th:text="${zadanie.kolejnosc}">Kolejność</td>
          <td th:text="${zadanie.opis}">Opis</td>
          <td th:text="${#temporals.format(zadanie.dataczas_dodania, 'yyyy-MM-dd HH:mm:ss')}">Data dodania</td>
          <td th:text="${zadanie.projekt.projektId}">projektId</td>
          <td>
            <a th:href="@{/zadanieEdit(zadanieId=${zadanie.zadanieId})}">Edytuj</a><br>
            <a th:href="@{/zadanieEdit(zadanieId=${zadanie.zadanieId},delete='true')}">Usuń</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>